:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
/* UTILETIS */

/* Buttons */

.order_now_button {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 25px;
  /* border-color: #333; */
  padding: 10px 50px;
  border: 3px solid #333;
  background-color: transparent;
  cursor: pointer;
}
.order_now_button:hover {
  background-color: black;
  color: #fff;
}
.learn_more_button {
  font-size: 14px;
  padding: 10px 20px 0;
}

/* Header Navbar */
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

header {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop")
    no-repeat center center/cover;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 50px;
  position: relative;
  padding: 0 30px;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}
.navbar .logo {
  font-size: 16px;
  width: 120px;
  margin-left: 10px;
}
.nav-middle {
  margin-left: 90px;
}
.nav-middle li {
  padding: 0 3px;
}

.nav-right li {
  padding: 0px;
}
.navbar a {
  color: #fff;
  padding: 10px 5px;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: gray;
  border-radius: 25px;
  padding: 7px 20px;
}

.navbar ul {
  display: flex;
}

/* Header Navbar End*/

/* Header Section */

#header-section {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  height: 100%;
  color: #fff;
}
.header-section__header {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin-top: 80px;
}
.header-section_content {
  width: 700px;
  height: 150px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-section_div_prop div {
  font-size: 28px;
}
.header-section_div_prop p {
  font-size: 14px;
}
.header-section_content_button button {
  border-color: #fff;
  color: #fff;
}
.header-section_content_button button:hover {
  background-color: #fff;
  color: #333;
}
.chat_modal {
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 30px;
  top: 87%;
}

/* Main Section */

/* Tesla Safety Section */
.tesla_safety {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.tesla_safety_img {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  flex-basis: 80%;
}
.tesla_safety_content {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 19%;
  height: 100%;
  font-weight: 100;
}
.tesla_safety_content_headers {
  padding-top: 50px;
  flex-basis: 5%;
}
.tesla_safety_content_headers span:nth-child(2) {
  display: block;
  font-weight: 600;
  font-size: 30px;
}

.tesla_safety_content_text {
  flex-basis: 70%;
  font-size: 15px;
  font-weight: 100px;
  letter-spacing: 1px;
  padding-right: 15px;
  line-height: 1.4;
  color: #53575e;
}
.tesla_safety_content_text h4 {
  margin-top: 10px;
}
.tesla_safety_content_text span {
  text-decoration: underline;
}
.tesla_safety_content_buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-basis: 15%;
  width: 100%;
}

.tesla_safety_content_buttons_learn {
  font-size: 14px;
  padding: 10px 20px 0;
}

/* Mountain Section */
#mountain-section {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop")
    no-repeat center center/cover;
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  flex-direction: column;
  color: #fff;
}

.mountain-section_content {
  width: 50%;
  height: 150px;
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 50px;
}
.mountain-section_div_prop div {
  font-size: 28px;
}
.mountain-section_div_prop p {
  font-size: 14px;
}
.mountain-section_div_prop {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-start;
  margin: 0 25px;
  text-align: center;
}
.mountain_section_content_show-p {
  display: block;
}
.mountain_section_content_blind-p {
  display: none;
}
.mountain-section_content_duel {
  margin: 25px 25px 0 25px;
}

/* Performance Section */

#performance {
  width: 100%;
  height: 25vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.performance_content_headers_box {
  flex-basis: 33.3%;
  width: 35%;
}
.performance_content_buttons_box {
  flex-basis: 33.3%;
  width: 35%;
}
.performance_content_text_box {
  flex-basis: 35%;
  width: 50%;
}
.performance_content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 150px;
  flex-direction: column;
}
.performance_content_headers {
  flex-basis: 61%;
}
.performance_content_headers span:nth-child(2) {
  display: block;
  font-weight: 600;
  font-size: 30px;
}
.performance_content_buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.performance_content_text {
  font-size: 14px;
  height: 100px;
}

.performance_content_buttons_learn {
  font-size: 14px;
  padding: 10px 20px 0;
}

/* Media Query */

@media (max-width: 1200px) {
  .nav-middle li {
    display: none;
  }
  .responsive-menu-hidden {
    display: none;
  }
  .tesla_safety {
    flex-direction: column;
  }
  .tesla_safety_content {
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    max-width: 90%;
    height: 100%;
    flex-wrap: wrap-reverse;
  }
  .tesla_safety_content_headers {
    padding: 0 10px;
    order: 2;
    height: 0%;
    flex-basis: 35%;
  }
  .tesla_safety_content_buttons {
    order: 0;
    flex-basis: 40%;
    height: 100%;
  }
  .tesla_safety_content_text {
    flex-basis: 60%;
    order: 1;
    height: 100%;
    padding: 0 10px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 768px) {
  .header-section_content {
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .header-section_div_prop div {
    font-size: 22px;
  }
  .header-section_div_prop p {
    color: #fff;
    font-size: 10px;
  }
  .header-section_div_prop button {
    padding: 10px 100px;
  }
  .header-section_content_button {
    flex-basis: 100%;
  }
  .header-section_content_duel {
    margin-top: 0px;
  }
  .tesla_safety {
    flex-direction: column;
  }

  .tesla_safety_content {
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }
  .tesla_safety_content_headers {
    padding: 0 0px;
    order: 0;
    flex-basis: 15%;
    align-self: flex-start;
  }
  .tesla_safety_content_buttons {
    order: 2;
    flex-basis: 20%;
    align-self: flex-start;
  }
  .tesla_safety_content_text {
    flex-basis: 30%;
    order: 1;
    height: 100%;
    padding: 0 0px;
    letter-spacing: 0.5px;
  }
  .tesla_safety_content_buttons .order_now_button {
    padding: 10px 100px;
  }
  #mountain-section {
    height: 55vh;
  }
  .mountain-section_content {
    width: 80%;
    height: 0px;
  }

  .mountain-section_div_prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    margin: 0 0px;
  }
  .mountain-section_div_prop div {
    font-size: 22px;
  }
  .mountain-section_div_prop p {
    color: #fff;
    font-size: 10px;
  }

  .mountain_section_content_show-p {
    display: none;
  }
  .mountain_section_content_blind-p {
    display: block;
  }

  /* Performce Section */
  #performance {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    display: flex;
    justify-content: center;

    align-items: flex-start;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-content: space-between;
  }
  .performance_content_headers_box {
    width: 100%;
    order: 0;
    flex-basis: 100%;
    padding: 0 50px;
  }
  .performance_content_buttons_box {
    width: 100%;
    order: 2;
    flex-basis: 100%;
  }
  .performance_content_text_box {
    flex-basis: 100%;
    width: 100%;
    order: 1;
    padding: 0 50px;
  }
  .performance_content {
    flex-direction: column;
    width: 100%;
    height: 90%;
    flex-wrap: nowrap;
    text-align: left;
  }
  .performance_content_buttons .order_now_button {
    padding: 10px 100px;
  }
}
/*  */
