:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

/* Header Navbar */
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

/* p {
  margin: 10px 0;
} */
header {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop")
    no-repeat center center/cover;
}

.header {
  /* background: url("../img/model-3-main-hero-a-desktop.jpg") no-repeat center
    center/cover; */
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* max-width: fit-content; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 50px;
  position: relative;
  padding: 0 30px;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  /* background: transparent; */
}
.navbar .logo {
  font-size: 16px;
  width: 120px;
  margin-left: 10px;
}
.nav-middle {
  margin-left: 90px;
}
.nav-middle li {
  padding: 0 3px;
}

.nav-right li {
  padding: 0px;
}
.navbar a {
  color: #fff;
  padding: 10px 5px;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: gray;
  border-radius: 25px;
  padding: 7px 20px;
  /* transition: all 0.33s ease-out; */
}

.navbar ul {
  display: flex;
}

/* Header Navbar End*/

/* Header Section */

#header-section {
  position: relative;
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: azure; */
  width: 600px;
  height: 100%;
  color: #fff;
  /* color: #333; */
}
.header-section__header {
  position: relative;
  /* align-self: center; */

  font-size: 22px;
  font-weight: 700;
  margin-top: 80px;
}
.header-section_content {
  /* background-color: aqua; */
  width: 700px;
  height: 150px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* color: #333; */
}
.header-section_div_prop div {
  /* color: #fff; */
  font-size: 28px;
}
.header-section_div_prop p {
  /* color: #fff; */
  font-size: 14px;
}
.header-section_div_prop button {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 25px;
  padding: 10px 50px;
  border: 3px solid white;
  background-color: transparent;
  cursor: pointer;
}
.header-section_div_prop button:hover {
  color: #333;
  background-color: #fff;
}
.header-section_content_range {
  /* margin-left: 50px; */
}

.chat_modal {
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;

  position: fixed;
  right: 30px;
  top: 87%;
}
.chat_modal_button svg {
}

/* Main Section */

/* Tesla Safety Section */
.tesla_safety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.tesla_safety_img {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.tesla_safety_content {
}

/* Media Query */

@media (max-width: 1200px) {
  .nav-middle li {
    display: none;
  }
  .responsive-menu-hidden {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    /* justify-content: flex-start; */
  }
  #header-section {
    /* width: 500px; */
    /* justify-content: center; */
    /* background-color: aqua; */
    /* flex-direction: row; */
  }
  .header-section_content {
    /* background-color: aqua; */

    /* border: 3px solid; */
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .header-section_div_prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
  }
  .header-section_div_prop div {
    font-size: 22px;
  }
  .header-section_div_prop p {
    color: #fff;
    font-size: 10px;
  }
  .header-section_div_prop button {
    padding: 10px 100px;
  }
  .header-section_content_button {
    flex-basis: 100%;
  }
}
